rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read, write: if request.auth.uid == userId;
    }
    
    match /locations/{document=**} {
      allow create: 
        if request.auth.uid != null &&
           request.auth.uid == request.resource.data.userId;
      allow update, read, delete: 
        if request.auth.uid == resource.data.userId;
    }
    
    match /assets/{document=**} {
      allow create:
        if request.auth.uid != null &&
           request.auth.uid == request.resource.data.userId;
      allow update, read, delete:
        if request.auth.uid == resource.data.userId;
    }
  }
}