rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read, write: if request.auth.uid == userId;
    }
    match /locations/{locationId} {
      allow create: 
        if request.auth.uid != null &&
           request.auth.uid == request.resource.data.userId;
      allow update: 
        if request.auth.uid == get(/databases/$(database)/documents/locations/$(locationId)).data.userId && 
           request.resource.data.userId == request.auth.uid;
      allow read, delete: 
        if request.auth.uid == get(/databases/$(database)/documents/locations/$(locationId)).data.userId;
    }
  }
}